.friendList {
  width: max-content;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.item {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 400px;
  height: 150px;
  margin-bottom: 20px;

  box-shadow: 0px 5px 10px 5px rgba(8, 9, 9, 0.5);
}
.status {
  margin: 0 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar {
  width: 100px;
  margin-right: 20px;
}

.name {
  font-size: 30px;
  font-weight: 700;
}
